@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --link-color: hsl(0, 0%, 41%);
  --AlmostBlack: hsl(0, 0%, 8%);
  --AlmostWhite: hsl(0, 0%, 98%);
}



li{
  @apply text-xl text-gray-600 font-normal
}

body{
background-color: #fafafa;
}